/* My name section */
h1 {
    padding-top: 1rem;
    text-align: center;
    letter-spacing: 1px;
}

/* About me section */

.about-me {
    width: 100%;
    margin: 1rem auto;
}
.about-me-row {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

.about-me-col-description {
    width: 80%;
    line-height: 2rem;
}
.about-me-col-image {
   width: 80%;
   text-align: center;
   padding-top: 4rem;
}
.about-me-row p {
   letter-spacing: 1px;
   font-weight: lighter;
}

.about-me-col-image-profile-image {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    box-shadow: 0rem 0rem 10rem rgb(83, 76, 76);
}

@media screen and (min-width: 800px) {
    .about-me {
        width: 70%;
        margin-left: 10rem;
    }
    .about-me-row {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
        flex: 1;
        align-items: center;
    }
    .about-me-col-description {
        width: 70%;
        line-height: 2rem;
    }
    .about-me-row p {
        letter-spacing: 1px;
        font-weight: lighter;
    }
    .about-me-col-image {
        width: 10%;
        padding-right: 15rem;
    }
    .about-me-col-image-profile-image {
        width: 450px;
        height: 450px;
        border-radius: 50%;
    }
}


  /* Skills section */
.skills {
    width: 100%;
}
.skills-container-wrapper {
    width: 70%;
    padding: 10px;
    margin: 1rem auto;
}

.skills-container-wrapper-skills-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    /* width: 80%; */
    padding: 20px 0px;     
}

.skills-container-wrapper-skills-flex-icon-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-right: 5px;      
}
.skills-container-wrapper-skills-flex-icon-container span {
    font-weight: bold;
}

@media screen and (min-width: 800px) { 
    .skills-container-wrapper-skills-flex {
        justify-content: space-between;
        width: 80%;   
    }

    .skills-container-wrapper-skills-flex-icon-container  {
        margin-right: 0;
    }
}

a, a:hover{
    color: black;
}

.title{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 4rem;
    color: rgb(52, 51, 51);
    text-shadow: 12px 6px 4px #6e6c6c;
}

@import url('https://fonts.googleapis.com/css2?family=Philosopher&display=swap');
.titlename{
  text-align: center;
  font-family: 'Philosopher';
  font-size: 3rem;
  color: white;
  text-shadow: 0px 2px 7px #000000;
}

strong{
    font-weight: bold;
}

.download-resume {
    font-size: large;
    font-family: Verdana;
    color: white !important;
}

.download-resume a {
    text-decoration: none;
    text-shadow: 0px 2px 7px #000000;
}