.card {
  width: 80%;
}

.seperate {
  margin-top: 50px;
}

.zoom {
  transition: transform .2s;
}

.zoom:hover {
  transform: scale(1.1);
}

#shadow:hover {
  border-radius: 50%;
  box-shadow: 0px 0px 30px rgb(83, 76, 76);
} 

a {
  text-decoration: none;
}